spring:
  application:
    name: npp-demo
  datasource:
    url: jdbc:h2:mem:nppdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
  paths-to-match: /api/**

npp:
  simulation:
    clearing-delay-ms: 500
    settlement-delay-ms: 800
    confirmation-delay-ms: 200
